# DublinBikes ADT

In [1]:
import pandas as pd
import numpy as np

- Get info from sql database
- Save info to csv to work with
- Uncomment these lines to update csv
- Note: DynamicInfo takes a while to get

In [2]:
"""
database = "mysql+pymysql://JohnMcL:Jm30079!@dbbikes.ca8jj5ksuurt.eu-west-1.rds.amazonaws.com:3306/dbbikes"
dfDynamicInfo = pd.read_sql_table("DbDynamicInfo", database)
dfWeather = pd.read_sql_table("weather", database)
dfDynamicInfo.to_csv("DynamicInfoWorkData")
dfWeatherInfo.to_csv("WeatherWorkData")
"""

'\ndatabase = "mysql+pymysql://JohnMcL:Jm30079!@dbbikes.ca8jj5ksuurt.eu-west-1.rds.amazonaws.com:3306/dbbikes"\ndfDynamicInfo = pd.read_sql_table("DbDynamicInfo", database)\ndfWeather = pd.read_sql_table("weather", database)\ndfDynamicInfo.to_csv("DynamicInfoWorkData")\ndfWeatherInfo.to_csv("WeatherWorkData")\n'

- Read in from csv files

In [3]:
dfDynamicInfo = pd.read_csv("DynamicInfoWorkData.csv")
dfWeatherInfo = pd.read_csv("WeatherWorkData.csv")

## DbDynamicInfo Work

- Check starting number and end number per 113 rows
- Starts with 42, ends with 88

In [4]:
dfDynamicInfo.head(113)

,Unnamed: 0,id,number,status,available_bike_stands,available_bikes,last_update
0,0,1,42,OPEN,16,14,2019-02-19 19:04:44
1,1,2,30,OPEN,16,4,2019-02-19 19:00:54
2,2,3,54,OPEN,31,2,2019-02-19 19:03:18
3,3,4,108,OPEN,24,15,2019-02-19 18:57:17
4,4,5,56,OPEN,40,0,2019-02-19 19:00:15
5,5,6,6,OPEN,11,9,2019-02-19 19:01:05
6,6,7,18,OPEN,16,14,2019-02-19 19:03:05
7,7,8,32,OPEN,9,21,2019-02-19 18:58:33
8,8,9,52,OPEN,32,0,2019-02-19 18:57:15
9,9,10,48,OPEN,35,5,2019-02-19 19:02:47
10,10,11,13,OPEN,30,0,2019-02-19 19:00:29
11,11,12,43,OPEN,15,15,2019-02-19 19:03:17
12,12,13,81,OPEN,23,17,2019-02-19 19:03:55
13,13,14,31,OPEN,14,5,2019-02-19 19:04:34
14,14,15,98,OPEN,40,0,2019-02-19 19:01:57
15,15,16,14,OPEN,6,24,2019-02-19 19:04:29
16,16,17,23,OPEN,9,21,2019-02-19 19:03:52
17,17,18,106,OPEN,35,5,2019-02-19 18:59:33
18,18,19,112,OPEN,6,24,2019-02-19 19:02:26
19,19,20,68,OPEN,38,2,2019-02-19 19:04:32
20,20,21,74,OPEN,7,23,2019-02-19 19:04:58
21,21,22,87,OPEN,9,29,2019-02-19 19:01:44
22,22,23,84,OPEN,9,21,2019-02-19 19:01:12
23,23,24,90,OPEN,39,1,2019-02-19 19:01:07
24,24,25,11,OPEN,29,1,2019-02-19 19:04:53
25,25,26,17,OPEN,20,0,2019-02-19 18:55:11
26,26,27,45,OPEN,18,12,2019-02-19 18:57:44
27,27,28,114,OPEN,40,0,2019-02-19 19:04:03
28,28,29,72,OPEN,18,13,2019-02-19 19:05:01
29,29,30,63,OPEN,32,3,2019-02-19 18:57:16
...,...,...,...,...,...,...,...
83,83,84,26,OPEN,16,4,2019-02-19 18:59:27
84,84,85,65,OPEN,39,1,2019-02-19 19:04:45
85,85,86,15,OPEN,16,0,2019-02-19 18:58:12
86,86,87,86,OPEN,1,37,2019-02-19 19:03:38
87,87,88,35,OPEN,25,4,2019-02-19 19:03:45
88,88,89,10,OPEN,1,15,2019-02-19 19:03:03
89,89,90,100,OPEN,4,21,2019-02-19 19:03:46
90,90,91,24,OPEN,14,6,2019-02-19 19:01:38
91,91,92,64,OPEN,16,24,2019-02-19 18:59:36
92,92,93,109,OPEN,7,22,2019-02-19 19:04:21
93,93,94,85,OPEN,19,16,2019-02-19 19:01:28
94,94,95,107,OPEN,37,3,2019-02-19 18:58:49
95,95,96,33,OPEN,7,16,2019-02-19 19:04:51
96,96,97,44,OPEN,16,14,2019-02-19 19:03:40
97,97,98,89,OPEN,32,8,2019-02-19 18:59:23
98,98,99,57,OPEN,23,0,2019-02-19 19:04:21
99,99,100,80,OPEN,7,33,2019-02-19 19:02:49
100,100,101,41,OPEN,20,0,2019-02-19 19:00:48
101,101,102,3,OPEN,19,1,2019-02-19 19:04:51
102,102,103,46,OPEN,12,7,2019-02-19 19:04:34
103,103,104,40,OPEN,19,2,2019-02-19 19:02:44
104,104,105,29,OPEN,27,2,2019-02-19 18:59:07
105,105,106,70,OPEN,23,4,2019-02-19 19:04:00
106,106,107,103,OPEN,40,0,2019-02-19 18:58:02
107,107,108,28,OPEN,28,2,2019-02-19 19:03:25
108,108,109,39,OPEN,15,5,2019-02-19 19:04:47
109,109,110,83,OPEN,15,25,2019-02-19 18:55:57
110,110,111,92,OPEN,0,40,2019-02-19 19:00:23
111,111,112,21,OPEN,14,16,2019-02-19 19:03:27
112,112,113,88,OPEN,12,18,2019-02-19 18:59:04

- Drop unnecessary columns

In [5]:
dfDynamicInfo.drop(["Unnamed: 0", "id", "status"], axis=1, inplace=True)

- Due to prior issues with recording timestamp, need to find where usefule time stamps begin
- Iterate through rows in steps of 113
- At each step, iterate over rows 1 by 1
- Compare last_updates, when timestamp is correct, the group of 113 rows should all have same timestamp
- Use boolean to check if target row reached
- breaks used because otherwise this takes forever

In [6]:
for i in range(0, 150000, 113):
    lastUpdateEqual = True
    target = None
    for j in range(i, i+113-1):
        if dfDynamicInfo.iloc[j]["last_update"] != dfDynamicInfo.iloc[j+1]["last_update"]:
            lastUpdateEqual = False
            break
            
    if lastUpdateEqual:
        target = i
        break
    
target

103282

- Check that from before target, the timestamps are incorrect

In [7]:
dfDynamicInfo.iloc[target-113:target]

        number  available_bike_stands  available_bikes          last_update
103169      42                     15               15  2019-02-22 23:30:19
103170      30                     18                2  2019-02-22 23:21:49
103171      54                     31                2  2019-02-22 23:25:06
103172     108                     27               12  2019-02-22 23:23:36
103173      56                     38                2  2019-02-22 23:25:53
103174       6                     10                9  2019-02-22 23:24:26
103175      18                     23                7  2019-02-22 23:30:53
103176      32                      5               25  2019-02-22 23:26:08
103177      52                     31                1  2019-02-22 23:25:43
103178      48                     39                1  2019-02-22 23:27:19
103179      13                     29                1  2019-02-22 23:23:21
103180      43                      0               30  2019-02-22 23:26:12
103181      81                     31                9  2019-02-22 23:22:28
103182      31                      6               14  2019-02-22 23:27:44
103183      98                     17               23  2019-02-22 23:25:16
103184      14                      9               21  2019-02-22 23:25:43
103185      23                      4               26  2019-02-22 23:30:09
103186     106                     31                9  2019-02-22 23:23:39
103187     112                      8               22  2019-02-22 23:30:08
103188      68                     25               15  2019-02-22 23:30:01
103189      74                      2               28  2019-02-22 23:30:09
103190      87                     20               18  2019-02-22 23:28:01
103191      84                      0               30  2019-02-22 23:26:05
103192      90                     38                2  2019-02-22 23:26:26
103193      11                     30                0  2019-02-22 23:24:53
103194      17                     20                0  2019-02-22 23:23:55
103195      45                     20               10  2019-02-22 23:28:16
103196     114                     40                0  2019-02-22 23:22:31
103197      72                     14               17  2019-02-22 23:30:01
103198      63                     22               13  2019-02-22 23:21:47
...        ...                    ...              ...                  ...
103252      26                     16                4  2019-02-22 23:26:23
103253      65                     39                1  2019-02-22 23:25:23
103254      15                      9                7  2019-02-22 23:24:36
103255      86                      1               37  2019-02-22 23:29:37
103256      35                     25                5  2019-02-22 23:29:27
103257      10                      2               14  2019-02-22 23:27:58
103258     100                     10               15  2019-02-22 23:21:52
103259      24                      1               19  2019-02-22 23:28:09
103260      64                     21               19  2019-02-22 23:23:51
103261     109                      4               25  2019-02-22 23:27:04
103262      85                     16               19  2019-02-22 23:21:24
103263     107                     22               18  2019-02-22 23:30:56
103264      33                      1               22  2019-02-22 23:29:14
103265      44                     25                5  2019-02-22 23:28:07
103266      89                     38                2  2019-02-22 23:26:52
103267      57                     21                2  2019-02-22 23:23:13
103268      80                     12               28  2019-02-22 23:29:03
103269      41                     19                1  2019-02-22 23:30:26
103270       3                     10               10  2019-02-22 23:29:38
103271      46                     11                9  2019-02-22 23:27:46
103272      40                     19                2  2019-02-22 23:29:27
103273      29                      7               22  2019-02-22 23:28:36
103274      70                     21                7  2019-02-22 23:30:52
103275     103                     31                9  2019-02-22 23:24:39
103276      28                     19               11  2019-02-22 23:27:33
103277      39                     20                0  2019-02-22 23:22:17
103278      83                      2               38  2019-02-22 23:25:08
103279      92                      1               39  2019-02-22 23:26:16
103280      21                     25                5  2019-02-22 23:27:49
103281      88                     13               17  2019-02-22 23:22:06

[113 rows x 4 columns]

- Note that timestamp is different for each row
- Due to taking timestamp from api
- Started taking timestamp from machine instead
- Check that the 113 rows past target have same timestamp
- Also check that the number for the first row is 42 and the number for the last row is 88

In [8]:
dfDynamicInfo.iloc[target:].head(113)

        number  available_bike_stands  available_bikes          last_update
103282      42                     19               11  2019-02-23 23:05:30
103283      30                     16                4  2019-02-23 23:05:30
103284      54                     25                8  2019-02-23 23:05:30
103285     108                     20               19  2019-02-23 23:05:30
103286      56                     31                9  2019-02-23 23:05:30
103287       6                      1               19  2019-02-23 23:05:30
103288      18                     22                7  2019-02-23 23:05:30
103289      32                     26                4  2019-02-23 23:05:30
103290      52                      4               28  2019-02-23 23:05:30
103291      48                     35                5  2019-02-23 23:05:30
103292      13                     28                2  2019-02-23 23:05:30
103293      43                     17               13  2019-02-23 23:05:30
103294      81                     36                4  2019-02-23 23:05:30
103295      31                     15                5  2019-02-23 23:05:30
103296      98                     30               10  2019-02-23 23:05:30
103297      14                      0               30  2019-02-23 23:05:30
103298      23                     21                9  2019-02-23 23:05:30
103299     106                     39                1  2019-02-23 23:05:30
103300     112                     12               18  2019-02-23 23:05:30
103301      68                     38                2  2019-02-23 23:05:30
103302      74                     24                6  2019-02-23 23:05:30
103303      87                     29                9  2019-02-23 23:05:30
103304      84                     21                9  2019-02-23 23:05:30
103305      90                     36                4  2019-02-23 23:05:30
103306      11                     28                2  2019-02-23 23:05:30
103307      17                      2               18  2019-02-23 23:05:30
103308      45                      9               21  2019-02-23 23:05:30
103309     114                     33                7  2019-02-23 23:05:30
103310      72                     26                0  2019-02-23 23:05:30
103311      63                     18               17  2019-02-23 23:05:30
...        ...                    ...              ...                  ...
103365      26                      4               16  2019-02-23 23:05:30
103366      65                     27               13  2019-02-23 23:05:30
103367      15                     15                1  2019-02-23 23:05:30
103368      86                     14               24  2019-02-23 23:05:30
103369      35                     11               19  2019-02-23 23:05:30
103370      10                      2               14  2019-02-23 23:05:30
103371     100                      6               19  2019-02-23 23:05:30
103372      24                     20                0  2019-02-23 23:05:30
103373      64                      5               35  2019-02-23 23:05:30
103374     109                      5               24  2019-02-23 23:05:30
103375      85                     30                5  2019-02-23 23:05:30
103376     107                     40                0  2019-02-23 23:05:30
103377      33                      6               17  2019-02-23 23:05:30
103378      44                     21                9  2019-02-23 23:05:30
103379      89                     40                0  2019-02-23 23:05:30
103380      57                     22                1  2019-02-23 23:05:30
103381      80                     30               10  2019-02-23 23:05:30
103382      41                     17                3  2019-02-23 23:05:30
103383       3                     12                8  2019-02-23 23:05:30
103384      46                      2               18  2019-02-23 23:05:30
103385      40                      1               20  2019-02-23 23:05:30
103386      29                      0               29  2019-02-23 23:05:30
103387      70                     21                7  2019-02-23 23:05:30
103388     103                     36                4  2019-02-23 23:05:30
103389      28                     13               17  2019-02-23 23:05:30
103390      39                     20                0  2019-02-23 23:05:30
103391      83                     37                3  2019-02-23 23:05:30
103392      92                      5               35  2019-02-23 23:05:30
103393      21                      2               28  2019-02-23 23:05:30
103394      88                     18               12  2019-02-23 23:05:30

[113 rows x 4 columns]

- These rows all have the same timestamp
- This marks the point where timestamp issues were resolved
- Also, the first number is 42 and the last number is 88, this means that the target starts at a group of 113
- Next, check that the number of rows from the target to the end is divisible by 113
- This should be the case because the table is added to in groups of 113

In [9]:
dfDynamicInfo.iloc[target:].shape[0] % 113

0

- Number of remaining rows divisible by 113
- Can now remove all rows below target

In [10]:
dfDynamicInfo.drop(range(0, target), inplace=True)

In [11]:
dfDynamicInfo.head()

        number  available_bike_stands  available_bikes          last_update
103282      42                     19               11  2019-02-23 23:05:30
103283      30                     16                4  2019-02-23 23:05:30
103284      54                     25                8  2019-02-23 23:05:30
103285     108                     20               19  2019-02-23 23:05:30
103286      56                     31                9  2019-02-23 23:05:30

In [12]:
dfDynamicInfo.tail()

         number  available_bike_stands  available_bikes          last_update
1094287      39                     15                5  2019-03-27 17:01:23
1094288      83                     34                6  2019-03-27 17:01:23
1094289      92                     20               20  2019-03-27 17:01:23
1094290      21                      5               25  2019-03-27 17:01:23
1094291      88                     26                4  2019-03-27 17:01:23